img {
    max-width: 100%
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-container {
    max-width: 700px;
    margin: auto;
}

/* generic button */
.button-wrapper > button{
    padding: 5px;
    font-size: 18px;
}

#recipe-title{
    font-size: 50px;
}

.recipe-about {
    display: grid;
    justify-content: up;
    grid-template-columns: 1fr 0.5fr;
    padding-bottom: 30px;
}

.recipe-about .recipe-description {
    grid-row: 1 / 3
}

.recipe-spice-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.recipe-spice-info > img {
    display: inline-block;
    object-fit: scale-down;
    width: 78px;
    padding: 0 5px;
    border-right: 4px
}

.recipe-about .button-wrapper {
    grid-column: 2 / 3;
    justify-self: end;
}

#recipe-information {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
}

#recipe-information > span {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.recipe-info-number {
    grid-column-start: 4;
}

.recipe-subtitle {
    font-size: 35px;
    margin-bottom: 20px;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
