/** Main css */
* {
  font-family: 'Merriweather', serif;
}

body {
  overflow: auto;
  background-image: url('../images/background-draft.png');
  background-repeat: repeat;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

main::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: 'Mochiy Pop P One', sans-serif;
}

section:not(section.shown) {
  display: none;
}

.hidden {
  display: none;
}

/* can we delete this ??*/
.iconimage {
    float:left;
}

/* TODO DELETE */
.recommend {
    float:left; 
    margin-left:20px; 
    margin-bottom:20px;
}

/* TODO DELETE */
.favorite {
    margin-left: 100px;
    margin-bottom: 30px;
}
  
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 50%; /* Full-width */
  height: 30px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity 5s;
  overflow: hidden;
}
  
/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background-image: url('../images/fireGif3.gif');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  cursor: pointer; /* Cursor on hover */
  box-shadow: -400px 0 0 400px #ca5507;
}

/* This should work but it doesnt 
.slider::-webkit-fill-lower {
  -webkit-appearance: none; 
  appearance: none;
  background: #ee6858;
}
*/

/* Slider end*/

/* Header for the webpage*/
.nav--header {

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 80px;
  grid-gap: 0px;
  
  position: sticky;
  top: 0;
  z-index: 1;
  width: auto;
  height: 80px;
  margin: -8px;
  margin-bottom: 15px;
  background: #FFF; /* White background */
  border-bottom: 3px solid #EE6858;

}
/* Start of Header Elements */
/* Main logo and website title, on top left */


/* Website Logo Start */

/*  Not sure if we should delete
.logo--wrapper > img {     
  max-width: 100%;
  max-height: 100%;
}
*/
#websiteLogo{
  height: 80px ;
}

.logo--wrapper{
  width: auto;
}
/* Website Logo End */

/* SearchBar Start */
.Searchbar {
  justify-content: center;
  align-items: center;
  display: flex;
}

.Searchbar input {
  height: 50px;
  width: 80%;
  box-sizing: border-box;
}
/* SearchBar End */

/* Slider Start */
#spice-slider--wrapper{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px 20px;
  grid-gap: 0px;
}

#sliderDiv{
  align-items: center;
  justify-content: center;
  display: flex;
  width: auto;
}

#myRange.slider{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
/* Slider End */

/* Pepper Emojis */
#spiceLevel{
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Create Recipe Button */
.button--wrapper{
  justify-content: center;
  align-items: center;
  display: flex;
}

button {
  background-color: white;
  border-radius: 20px;
  font-family: 'Mochiy Pop P One', sans-serif;
  border: 2px solid #EE6858;
}

/* Top Right Image Start */
.user-icon--wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.user-icon--wrapper > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* Top Right Image Start */

/* End of Header Elements */


.main-container {
  max-width: 700px;
  margin: auto;
}

/** Main Page section partitioning **/
.section--main-page {
  display:grid;
  grid-template-columns: 1fr 3.5fr .5fr;
  grid-template-rows: 30px auto;
  grid-template-areas: 
    "sidebarl main"
    "sidebarl main";
  column-gap: 30px;
  row-gap: 10px;
  height: fit-content;
}

.section--main-page > .main--div{
  background: var(--ec-orange); /* Green background */
}

#challenge-cards--wrapper {
  grid-area: sidebarl;
  padding: 10px 30px 30px;
  position: sticky;
  top: 100px;
  height: fit-content;
  border-radius: 25px;
}

#div--recommended-recipes {
  grid-area: main;
  padding: 10px 30px 30px;
  border-radius: 25px;
}

a:link {
  text-decoration: none;
}

.card-body {
  font-family: 'Merriweather', sans-serif;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
  justify-content: space-evenly;
  gap: 2rem;
}

.challenge-body {
  font-family: 'Merriweather', sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 15rem));
  justify-content: space-evenly;
  gap: 2rem;
}

