<h1 id="recipe-title">Upload Recipe</h1>

<h2>Recipe Name</h2>
<input type="text" id="recipeName" required minlength="2" maxlength="40" size="30">

<h2>Description</h2>
<textarea id="recipeDescription" rows="7" cols="50"></textarea>

<h2>Upload Photo</h2>
<p>Please upload a picture of your completed dish!</p>

<img src="assets/images/placeholder.png" id="imgPreview" alt="temp" width="400" height="400" referrerpolicy="no-referrer">
<br>
<input type="file" id="imgUpload" accept="image/*">
<p id="url" hidden></p>

<img src="assets/images/scoville-scale.png" class="scale">

<h2>Serving Size</h2>
<h4>How many people can this dish feed or how many portions can it make?</h4>
<input type="number" id="servingSize" min="0" max="59" size = "50" value="0" required>

<h2>Scoville Heat Units</h2>
<h4>How many Scoville Heat Units is the hottest pepper is your dish? (refer to scale on right)</h4>
<input type="number" id="scoville" min="0" max="3000000" value="0" required>

<div id="prepTime">
    <h2>Prep Time</h2>
    <h4>How much time is needed to prepare the ingredients?</h4>
    <div id="cookTimeInput">
        <input type="number" id="prepHrs" min="0" max="20"  placeholder="Hours" required>
        <input type="number" id="prepMins" min="0" max="59" placeholder="Minutes" required>
    </div>
</div>

<div id="cookTime">
    <h2>Cooking Time</h2>
    <div id="prepTimeInput">
        <input type="number" id="cookHrs" min="0" max="20"  placeholder="Hours" required>
        <input type="number" id="cookMins" min="0" max="59" placeholder="Minutes" required>
    </div>
</div>

<div id="ingredients" value="1">
<h2>Ingredients</h2>
    <input type="text" id="ingredientDescription" class="ingredientDescription" required minlength="2" maxlength="40" placeholder="Ingredient Description">
    <input type="number" id="ingredientQuantity" class="ingredientQuantity" min="0" max="999999" placeholder="Quantity" required>
    <select id="ingredientUnits" class="ingredientUnits">
      <option>N/A</option>
      <option>cups</option>
      <option>pt</option>
      <option>qt</option>
      <option>gal</option>
      <option>tsp</option>
      <option>tbsp</option>
      <option>fl oz</option>
      <option>mL</option>
      <option>L</option>
      <option>g</option>
      <option>kg</option>
      <option>oz</option>
      <option>lbs</option>
      <option>mm</option>
      <option>cm</option>
      <option>m</option>
      <option>in</option>
      <option>pinch</option>
      <option>drop</option>
    </select>
    <button class="specificIngredientRemove" id="specificIngredientRemove" type="button" value="0">X</button>
    <br>
</div>
<input type="button" id="addIngredientButton" value="Add Ingredient">
<input type="button" id="removeIngredientButton" value="Remove Ingredient">

<div id="instructions" value="1">
    <h2>Instructions</h2>
    <textarea cols='60' rows='2' placeholder="Step 1"></textarea>
    <button class="specificInstructionRemove" id="specificInstructionRemove" type="button" value="0">X</button>
    <br>
</div>
<input id="addStepButton" type="button" value="Add Step">
<input id="removeStepButton" type="button" value="Remove Step">

<div id="formButtons">
    <input id="cancelButton" class="Cancel" type="button" value="Cancel">
    <input id="submitButton" class="Submit" type="button" value="Submit">
</div>