/* style.css */

* {
  font-family: sans-serif;
}

body {
  align-items: center;
  display: grid;
  justify-items: center;
}

body, html {
  height: 100%;
  width: 100%;
}

h2 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

body>header {
  display: grid;
  height: 20px;
  justify-items: end;
  padding-right: 55px;
  position: absolute;
  top: 20px;
  width: 100%;
}

body>header a {
  border-bottom: 2px solid rgb(155, 155, 155);
  color: rgb(155, 155, 155);
  font-size: 1.4rem;
  padding-bottom: 2.5px;
  text-decoration: none;
}

body>header a:hover {
  border-bottom: 2px solid transparent;
}

main>section {
  display: grid;
  max-width: 400px;
  row-gap: 20px;
  width: 100%;
}

.hidden {
  display: none;
}

#explore {
  justify-items: center;
  max-width: 425px;
}

#explore button, #explore select {
  height: 30px;
  width: 425px;
}

#explore img {
  width: 75%;
}

#explore select {
  padding-left: 5px;
}

#explore textarea {
  box-sizing: border-box;
  color: gray;
  font-size: 1.3rem;
  height: 150px;
  max-width: 425px;
  padding: 10px;
  width: 100%;
}

#explore textarea::placeholder {
  color: rgb(196, 196, 196);
}

#expose img {
  width: 100%;
}

#volume-controls {
  column-gap: 5%;
  display: grid;
  grid-template-areas: 'slider icon';
  grid-template-columns: 80% 15%;
}