/** Main css */
* {
  font-family: 'Merriweather', serif;
}

body {
  overflow: auto;
  background-image: url('../images/background-draft.png');
  background-repeat: repeat;
  background-size: 400px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

main::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: 'Mochiy Pop P One', sans-serif;
}

section:not(section.shown) {
  display: none;
}

.hidden {
  display: none;
}

/* can we delete this ??*/
.iconimage {
    float:left;
}

/* TODO DELETE .... */
.recommend {
    float:left;
    margin-left:20px;
    margin-bottom:20px;
}

/* TODO DELETE */
.favorite {
    margin-left: 100px;
    margin-bottom: 30px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 50%; /* Full-width */
  height: 30px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity 5s;
  border-radius: 20px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 40px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  background-image: url('../images/slider-3.gif');
  background-color: var(--ec-spicy5);
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-position: center;
  cursor: pointer; /* Cursor on hover */
  /* box-shadow: -400px 0 0 400px #ca5507;*/
  border-radius: 50%;
  border: 1px solid black;
}

.slider::-moz-range-progress {
  background-color: #ca5507;
}

.slider::-moz-range-track {
  background-color: #d3d3d3;
}
/* IE*/
.slider::-ms-fill-lower {
  background-color: #ca5507;
}
.slider::-ms-fill-upper {
  background-color: #d3d3d3;
}


/* This should work but it doesnt
.slider::-webkit-fill-lower {
  -webkit-appearance: none;
  appearance: none;
  background: #ee6858;
}
*/

/* Slider end*/

/* Header for the webpage*/
.nav--header {

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 80px;
  grid-gap: 0px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: auto;
  height: 80px;
  margin: -8px;
  margin-bottom: 15px;
  background: #FFF; /* White background */
  border-bottom: 3px solid #EE6858;

}
/* Start of Header Elements */
/* Main logo and website title, on top left */


/* Website Logo Start */

/*  Not sure if we should delete
.logo--wrapper > img {
  max-width: 100%;
  max-height: 100%;
}
*/
#websiteLogo{
  height: 81px;
  cursor: pointer;
}

.logo--wrapper{
  width: auto;
}

.logo--wrapper > img {
  background-image: url('../images/web-logo.png');
  background-size: contain;
}
/* Website Logo End */

/* SearchBar Start */
.Searchbar {
  justify-content: center;
  align-items: center;
  display: flex;
}

.Searchbar input {
  height: 50px;
  width: 80%;
}

.Searchbar ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  background: none;
}
/* SearchBar End */

/* Slider Start */
#spice-slider--wrapper{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px 20px;
  grid-gap: 0px;
}

#sliderDiv{
  align-items: center;
  justify-content: center;
  display: flex;
  width: auto;
  height: 78px;
}

#myRange.slider{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
/* Slider End */

/* Pepper Emojis */
#spiceLevel{
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Create Recipe Button */
.button--wrapper{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 76px;
}

button {
  background-color: white;
  border-radius: 20px;
  font-family: 'Mochiy Pop P One', sans-serif;
  border: 2px solid black;
  cursor: pointer;
}

button:active {
  background-color: rgb(187, 187, 187);
}

/* Top Right Image Start */
.user-icon--wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}

.user-icon--wrapper > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* Top Right Image Start */

/* End of Header Elements */


.main-container {
  max-width: 700px;
  margin: auto;
}

/** Main Page section partitioning **/
.section--main-page {
  display:grid;
  grid-template-columns: 0fr 1fr 3.75fr .25fr;
  grid-template-rows: 30px auto;
  grid-template-areas:
    "margin sidebarl main"
    "margin sidebarl main";
  column-gap: 30px;
  row-gap: 10px;
  height: fit-content;
}

.section--main-page > .main--div{
  background: var(--ec-orange); /* Green background */
}

.section--main-page > .main--div {
  background: var(--ec-orange); /* Green background */
}

#challenge-cards--wrapper {
  grid-area: sidebarl;
  padding: 10px 30px 30px;
  position: sticky;
  top: 98px;
  height: fit-content;
  border-radius: 25px;
}

#div--recommended-recipes {
  grid-area: main;
  padding: 10px 30px 30px;
  border-radius: 25px;
}

a:link {
  text-decoration: none;
}

.card-body {
  font-family: 'Merriweather', sans-serif;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
  justify-content: space-evenly;
  gap: 2rem;
}

.challenge-body {
  font-family: 'Merriweather', sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 15rem));
  justify-content: space-evenly;
  gap: 2rem;
}

.entire-webpage{
  zoom: .8;
}

.section--recipe-display{
  zoom: 1.25;
}

.section--recipe-upload{
  zoom: 1.25;
}

.challenge-title {
  float: left;
}


@media (prefers-color-scheme: dark) {
    body {
      background-image: url('../images/background-5.png');
      background-color: var(--bg-color);
    }

    .nav--header {
      background: #252525; /* Black background */
      border-bottom: 3px solid var(--bg-color-red);
    }

    input {
      background-color: var(--font-color);
      opacity: 1;
      border: 2px solid black;
    }


    ::placeholder {
      background-color: var(--font-color);
    }

    img:not(#websiteLogo){
      opacity: .75;
      transition: opacity .5s ease-in-out;
    }

    h1 {
      color: var(--font-color);
    }

    .section--main-page > .main--div {
      background: var(--bg-color-red);
      border: 2px solid var(--bg-color);
    }

    button {
      background-color: var(--bg-color);
      border: 2px solid var(--border-color);
      color: var(--font-color);
    }

    .logo--wrapper > img {
      background-image: url('../images/web-logo-dark.png');
      background-size: cover;
    }

  }
